/* палитра
основной цвет #757575
дополнительный цвет #212121
цвет акцента #2196F3
белый #FFFFFF
черный #000000
футер текст rgba(255, 255, 255, 0,6)
*/

:root {
  --primary-text-color: #757575;
  --secondary-title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --bcg-button-color: #f5f4fa;
  --secondary-bcg-color: #f5f4fa;
  --footer-bcg-color: #2f303a;
  --card-border-color: #eeeeee;
  --icon-bg-color: #afb1b8;
  --animation-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* убирает 4px у картинок в ссылках */
img {
  display: block;
}

/* убирает точки и margin в списках */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* убирает margin в h3 */
.title {
  padding: 0;
  margin: 0;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}
.container.main-nav {
  display: flex;
  align-items: center;
}

/* логотип */
.logo {
  color: var(--primary-black-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo-web {
  color: var(--accent-color);
}

/* ссылки навигации */
.nav-list {
  display: flex;
  margin-left: 93px;
}
.nav-list .item + .item {
  margin-left: 50px;
}

.nav-list .link {
  position: relative;
  color: var(--secondary-title-color);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms var(--animation-function);
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  display: block;
  color: var(--accent-color);
}

.nav-list .link.current:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

/* Контакты в шапке */
.nav-contacts {
  display: flex;
  margin-left: auto;

  fill: currentColor;
}

.nav-contacts .item + .item {
  margin-left: 50px;
}

.nav-contacts .contacts {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms var(--animation-function),
    fill 250ms var(--animation-function);
}

.nav-contacts .contacts:hover,
.nav-contacts .contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.nav-contacts .icon {
  margin-right: 10px;
}
/* .nav-contacts .item::before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item.icon-mail::before {
  background-image: url('../images/envelope.svg');
}

.item.icon-telephone::before {
  background-image: url('../images/smartphone.svg');
} */

/* main */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* hero */
.hero {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-title-color);

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero.jpg');
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

/* кнопка в индекс */
.hero-button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;

  min-width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 32px;

  transition: background-color 250ms var(--animation-function);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* other sections styles */
.section-title {
  color: var(--secondary-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  margin-top: 0px;
  margin-bottom: 50px;
}

.section-title.index {
  text-align: center;
}

/* секция our features в индекс */
.features-list {
  display: flex;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-list .title {
  color: var(--secondary-title-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features-list .content {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.71;
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--bcg-button-color);
  border-radius: 4px;
}

/* секция чем мы занимаемся */
.working {
  padding-top: 0px;
}

.working .list {
  display: flex;
}

.working .item {
  position: relative;
}

.working .item + .item {
  margin-left: 30px;
}

.working .content {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70px;
  color: var(--primary-white-color);

  background-color: rgba(47, 48, 58, 0.8);
}
/* секция наша команда в индекс */
.team {
  background-color: var(--secondary-bcg-color);
}

.team-list {
  display: flex;

  /* fill: var(--icon-bg-color); */
}

.team-list .item + .item {
  margin-left: 30px;
}
.team-list > .item {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  /* padding-bottom: 30px; */
}

/* .team-list img {
  margin-bottom: 30px;
} */

.team-list .title {
  color: var(--secondary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}

.team-list .content {
  line-height: 1.19;
  text-align: center;

  margin-top: 0px;
  margin-bottom: 0px;
}

.team-list .item-text {
  padding-top: 30px;
  padding-bottom: 16px;
}

.team-contacts {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}

.team-contacts .item + .item {
  margin-left: 10px;
}

.team-contacts .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-bottom: 0px;

  fill: var(--icon-bg-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0);

  transition: background-color 250ms var(--animation-function),
    fill 250ms var(--animation-function);
}

.team-contacts .link:hover,
.team-contacts .link:focus {
  background-color: var(--accent-color);

  fill: var(--primary-white-color);
}

/* секция клиенты в индекс */
.clients-list {
  display: flex;
}

.clients-list .item + .item {
  margin-left: 30px;
}

.clients-list .link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  fill: var(--icon-bg-color);
  width: 170px;
  height: 92px;
  margin-bottom: 0px;

  transition: border 250ms var(--animation-function),
    fill 250ms var(--animation-function);
}

.clients-list .link:hover,
.clients-list .link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* секция Наши проекты в портфолио */
.btn-projects {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.btn-projects .item + .item {
  margin-left: 8px;
}

/* кнопки в портфолио */
.btn-projects .button {
  display: inline-block;
  background-color: var(--bcg-button-color);
  color: var(--secondary-title-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;

  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;

  transition: background-color 250ms var(--animation-function),
    color 250ms var(--animation-function),
    box-shadow 250ms var(--animation-function);
}

.btn-projects .button:hover,
.btn-projects .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-section-title {
  display: flex;
  flex-wrap: wrap;
}
.projects-section-title .section-title {
  color: var(--secondary-title-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.projects-section-title > .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-section-title .link {
  display: block;
  text-decoration: none;
  color: var(--primary-text-color);
}

.projects-section-title .card-img {
  position: relative;

  overflow: hidden;
}

.projects-section-title .card-img-content {
  position: absolute;
  top: 0;
  left: 0;

  /* display: flex;
  justify-content: center;
  align-items: center; */

  padding: 63px 24px;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);

  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms var(--animation-function);
}

.projects-section-title .item:hover .card-img-content,
.projects-section-title .item:focus .card-img-content {
  transform: translateY(0px);
}

.projects-section-title .item {
  transition: box-shadow 250ms var(--animation-function);
}

.projects-section-title .item:hover,
.projects-section-title .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-section-title > .item:nth-child(3n) {
  margin-right: 0;
}

.projects-section-title > .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.projects-section-title .content {
  font-size: 16px;
  line-height: 1.87;

  margin-top: 0px;
  margin-bottom: 0px;
}

.projects-section-title .item-text {
  border: 1px solid var(--card-border-color);
  border-top: none;

  padding: 20px 24px;
}

/* footer */
.footer {
  background-color: var(--footer-bcg-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: flex;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}
.footer .address {
  line-height: 1.71;
}

.footer-address {
  color: var(--primary-white-color);
  font-style: normal;
  margin-bottom: 9px;
}

.footer-contacts {
  margin-bottom: 9px;
}

.footer-mail,
.footer-tel {
  color: var(--footer-text-color);
  text-decoration: none;
  font-style: normal;
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.footer .contacts {
  margin-left: 70px;
}

.footer .item + .item {
  margin-left: 10px;
}

.footer .list {
  display: flex;
}

.footer .title {
  color: var(--primary-white-color);
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}

.footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-bottom: 0px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--primary-white-color);

  transition: background-color 250ms var(--animation-function);
}

.footer .link:hover,
.footer .link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
}

/* -------footer form--------- */
.footer-form {
  margin-left: auto;
}

.footer-form .input-wrap {
  display: flex;
}

.footer-form .input-mail {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;

  padding: 15px 16px;
  width: 358px;
  margin-right: 12px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  transition: border-color 250ms var(--animation-function);
}
.input-mail:focus-within {
  border-color: #979797;
}
.footer-form .input-mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  min-width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 29px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--animation-function);
}

.footer-button-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

/* .footer-form .button::after {
  content: '';
  width: 24px;
  height: 24px;
  margin-left: 10px;

  background-image: url('../images/icon-send.svg');
  background-size: contain;
} */

.footer-form .button:hover,
.footer-form .button:focus {
  background-color: #188ce8;
}

/* --------BACKDROP------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  visibility: visible;
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms var(--animation-function),
    visibility 250ms var(--animation-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;

  opacity: 1;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--animation-function),
    opacity 250ms var(--animation-function);
}

.modal-button {
  position: absolute;
  top: +8px;
  right: +8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill 250ms var(--animation-function);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: var(--secondary-title-color);
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
}
.input-modal {
  width: 100%;
  padding: 11px 32px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms var(--animation-function);
}

.input-modal:focus-within {
  border: 1px solid var(--accent-color);
}

.input-modal-wrap {
  position: relative;
  margin-bottom: 10px;
  margin-top: 4px;
}

.input-modal-wrap .icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms var(--animation-function);
}

.input-modal-wrap:focus-within .icon {
  fill: var(--accent-color);
}

.modal-area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  transition: border 250ms var(--animation-function);
}

.modal-area:focus-within {
  border: 1px solid var(--accent-color);
}

.modal-area::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-field {
  margin-bottom: 30px;
}
.check-icon {
  width: 16px;
  height: 15px;
  fill: transparent;

  transition: fill 250ms var(--animation-function);
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-text .icon-border {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--secondary-title-color);
  border-radius: 2px;

  transition: background-color 250ms var(--animation-function),
    border-color 250ms var(--animation-function);
}

.input-check:checked + .check-text .icon-border {
  background-color: var(--accent-color);
  border-color: transparent;
}

.input-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.check-text .link {
  color: var(--accent-color);
  margin-left: 5px;
}

.modal-form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  min-width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  padding: 10px 56px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--animation-function);
}

.modal-form .button:hover,
.modal-form .button:focus {
  background-color: #188ce8;
}
